################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GsyncSwitchNVAPI/x64/Debug/vc143.pdb
